body {
  font-family: "Nunito", sans-serif;
  background-image: url("../assets/background.svg");
  background-size: cover;
  color: white;
}

.flex-bottom {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
  flex: 0 1 auto;
  align-self: center;
}

.title {
  display: flex;
  background: url("../assets/quanridor-title.svg") center/900px no-repeat;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

.title:hover {
  cursor: pointer;
}

svg {
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(6px 6px 4px #111430);
  transition:
    width 0.3s ease,
    height 0.3s ease;
}

#bell {
  background: url("../assets/bell.svg") center/60px no-repeat;
  width: 100px;
  height: 10vh;
}

#user {
  background: url("../assets/user-circle.svg") center/50% no-repeat;
  width: 100%;
  height: 50%;
  filter: none;
}

#bot {
  background: url("../assets/user-circle.svg") center/150px no-repeat;
  width: 200px;
  height: 18vh;
  filter: none;
  transition:
    width 0.3s ease,
    height 0.3s ease;
}

#bot:hover {
  cursor: pointer;
  filter: none;
  width: 230px;
  height: 21vh;
}

.small-title {
  display: flex;
  background: url("../assets/quanridor-title.svg") center/650px no-repeat;
  width: 100vh;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

button {
  box-shadow: 0px 15px 20px #111430;
  font-weight: 700;
  font-family: "Nunito", sans-serif;
  color: #111430;
  font-size: 58px;
  border-radius: 38px;
  width: 375px;
  height: 130px;
  border: none;
  transition: background-color 0.3s ease;
  transition:
    width 0.3s ease,
    height 0.3s ease;
}

button.big-button {
  font-size: 52px;
  width: 375px;
  height: 130px;
  transition:
    width 0.3s ease,
    height 0.3s ease;
}

button.big-button:hover {
  width: 400px;
  height: 150px;
}

button.medium-button {
  font-size: 48px;
  width: 300px;
  height: 13vh;
  transition:
    width 0.3s ease,
    height 0.3s ease;
}

button.medium-button:hover {
  width: 300px;
  height: 15vh;
}

button.small-button {
  font-size: 32px;
  width: 200px;
  height: 10vh;
  transition:
    width 0.3s ease,
    height 0.3s ease;
}

button.small-button:hover {
  width: 200px;
  height: 11vh;
}

.vertical-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}

.margin-top {
  margin-top: 20px;
}

.horizontal-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  padding: 15px;
  gap: 20px;
}

.horizontal-small-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  gap: 10px;
}

button:hover {
  cursor: pointer;
  background-color: #f3b9ff;
  color: #653442;
  box-shadow: none;
}

.vertical-small-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bold-text {
  text-shadow: 6px 6px 4px #111430;
  font-size: 48px;
  font-weight: 700;
}

.big-text {
  text-shadow: 6px 6px 4px #111430;
  font-size: 58px;
  font-weight: 700;
}

.text {
  font-size: 32px;
}

.small-text {
  text-align: center; 
  font-size: medium; 
  font-weight: bold;
}

input {
  box-shadow: 0px 15px 10px #111430;
  color: white;
  font-family: "Nunito", sans-serif;
  font-size: 32px;
  font-weight: 700;
  border-radius: 15px;
  width: 350px;
  height: 40px;
  border: none;
  text-align: center;
  background-color: #4650a8;
  padding: 5px;
}

input::placeholder {
  color: #111430;
}

input:hover {
  cursor: pointer;
}

#game {
  background-image: url("../assets/game-background.svg");
  background-size: cover;
  color: white;
}

.player {
  position: absolute;
  display: flex;
  width: 52px;
  height: 52px;
  border-radius: 26px;
}

#player1 {
  display: block;
  background-color: #010525;
}

#player2 {
  display: block;
  background-color: white;
}

canvas {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

#ready {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

#smoke {
  position: fixed;
  background: url("../assets/Background.svg");
  background-size: cover;
  background-color: #111430;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

.anticheat {
  display: none;
}

#win {
  position: absolute;
  display: none;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

#container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.friend-box,
.profile-box {
  background-color: rgba(1,5,37,1);
  border-color: rgba(70, 80, 168, 0);
  border-radius: 38px;
  border-style: solid;
  border-width: 10px;
}

.bento-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: #010525;
  border-radius: 38px;
  width: 25vh;
  height: 40vh;
  transition:
    width 0.3s ease,
    height 0.3s ease;
  background-color: 0.3s ease;
}

.bento-box:hover {
  cursor: pointer;
  background-color: #4650a8;
  width: 30vh;
  height: 45vh;
}

.friend-box {
  width: 40vh;
  height: 90vh;
}

.profile-box {
  width: 80%;
  height: 50vh;
}

#separator {
  height: 1vh;
  width: 15vh;
  border-radius: 38px;
  background-color: #4650a8;
}

.headerprogress {
  display: flex;
  align-items: center;
  padding: 10px;
}

#back-arrow {
  position: absolute;
  background: url("../assets/back-arrow.svg") center/100px no-repeat;
  width: 100px;
  height: 10vh;
  cursor: pointer;
  padding: 50px;
  transition:
    width 0.3s ease,
    height 0.3s ease;
}

#back-arrow:hover {
  height: 12vh;
}

#home {
  position: absolute;
  bottom: -100px;
  right: -100px;
  justify-content: flex-end;
  background: url("../assets/home.svg") center/150px no-repeat;
  width: 200px;
  height: 10vh;
  cursor: pointer;
  filter: none;
  padding: 50px;
  rotate: 5deg;
  transition:
    width 0.3s ease,
    height 0.3s ease;
}

#home:hover {
  height: 12vh;
}

#replay {
  position: absolute;
  bottom: -100px;
  right: 300px;
  justify-content: flex-end;
  background: url("../assets/replay.svg") center/150px no-repeat;
  width: 200px;
  height: 10vh;
  cursor: pointer;
  filter: none;
  padding: 50px;
  rotate: 5deg;
  transition:
    width 0.3s ease,
    height 0.3s ease;
}

#replay:hover {
  height: 12vh;
}

.game-list {
  font-size: 32px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-item {
  background-color: #010525;
  border: 6px solid #4650a8;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90vh;
  max-width: 1200px;
  height: 9vh;
  transition:
    width 0.3s ease,
    height 0.3s ease;
}

.game-item:hover {
  border: 6px solid #f3b9ff;
  cursor: pointer;
  height: 10vh;
  width: 100vh;
}

.player-name {
  font-weight: bold;
}

.turn-indicator {
  font-style: italic;
  font-size: 32px;
}

.text-title {
  font-size: 100px;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.no-game {
  font-size: 32px;
  font-style: italic;
  font-weight: bold;
}

#result-popup {
  z-index: 3;
  background-size: cover;
  background-color: rgba(1, 5, 37, 0.85);
  border: 15px solid rgba(126, 58, 238, 1);
  border-radius: 38px;
  padding: 20px;
  width: 500px;
  height: 500px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  position: fixed;
  top: 50%;
  left: 50%;
  rotate: -5deg;
  transform: translate(-50%, -60%);
  text-shadow: 6px 6px 4px #111430;
  font-size: 48px;
  font-weight: 700;
}

#elo-score-win {
  color: #3aadee;
  filter: none;
  text-shadow: none;
  rotate: 5deg;
}

#elo-score-lose {
  color: #ee4f3a;
  filter: none;
  text-shadow: none;
  rotate: 5deg;
}


#elo-score-draw {
  color: #BBBCFF;
  filter: none;
  text-shadow: none;
  rotate: 5deg;
}

#win-text {
  text-shadow: none;
  rotate: 5deg;
}

#elo-scores {
  text-shadow: none;
  rotate: 5deg;
}

#easy {
  color: #3aadee;
  filter: none;
  text-shadow: none;
  rotate: -5deg;
}

#medium {
  text-shadow: none;
  color: #f3b9ff;
  rotate: 0deg;
}

#hard {
  color: #ee4f3a;
  filter: none;
  text-shadow: none;
  rotate: 8deg;
}

.wall-bar-container {
  width: 80%;
  height: 20%;
  border-radius: 5px;
  margin-bottom: 10px;
  position: relative;
}

.wall-bar {
  display: flex;
  justify-content: center;
}
.square {
  width: 5px;
  height: 20px;
  background-color: #ffffff;
  border: 2px #000000;
  margin: 5px 5px;
  rotate: 15deg;
  border-radius: 5px;
  transition: opacity 1s; /* Transition de l'opacité prenant 1 seconde */
  opacity: 1;
}

.transparent {
  opacity: 0; /* Classe pour rendre le carré transparent */
}

.timer {
  width: 80%;
  height: 10vh;
  background-color: rgba(1,5,37,1);
  border-color: rgba(70, 80, 168, 0);
  border-radius: 38px;
  border-style: solid;
  border-width: 10px;
  margin-top: 20px;
}

#timer-text{
  margin: 7%; 
  justify-content: center; 
  align-items: center;
  font-weight: bold;
}

.popup {
  display: none;
  position: absolute;
  width: 35vh;
  height: 75vh;
  top: 15%;
  right: 35vh;
  background-color: rgba(1,5,37,1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
}

.popup-header {
  background-color: #4650A8;
  padding: 20px 10px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 38px;
}

.scrollbar-content {
  padding: 10px;
  height: 78%;
  overflow-y: auto;
  scrollbar-color: #EE4F3A rgba(1,5,37,1);
  scroll-behavior: smooth;
}

.scrollbar-friend-content {
  padding: 10px;
  height: 76vh;
  overflow-y: auto;
  scrollbar-color: #EE4F3A rgba(1,5,37,1);
  scroll-behavior: smooth;
}

.scrollbar-content::-webkit-scrollbar {
  z-index: 2;
  border-radius: 10px;
  border: 20px solid #4650A8;
  padding: 10px;
}

.scrollbar-content::-webkit-scrollbar-thumb {
  background-color: #4650A8;
  z-index: 2;
}

.scrollbar-content::-webkit-scrollbar-track {
  background-color: #4650A8;
  border-radius: 10px;
}

.notifications {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 30px;
}

.friends {
  display: flex;
  flex-direction: column;
  gap: 0px;
  border-radius: 30px;
}

.notification{
  font-weight: bold;
  font-size: 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer; 
}

.notification-container{
  background-color: #4650A8;
  border-radius: 25px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
}

.notification-content{
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.date {
  font-size: 18px;
  font-weight: normal;
  color: #F1A7FF;
  text-align: center;
}

.scrollbar-content::-webkit-scrollbar-button {
  display: none;
}

#unread-count{
  background-color: #EE4F3A;
  color: white;
  border-radius: 50%;
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 30px;
  height: 30px;
  text-align: center;
  display: none;
  transition: 
    width 0.3s ease,
    height 0.3s ease;
}

.bell-container{
  position: relative;
}

.bell-container:hover #unread-count{
  cursor: pointer;
  height: 35px;
  width: 35px;
}

.bell-container:hover #bell{
  cursor: pointer;
  filter: none;
  width: 110px;
  height: 11vh;
}

#side-notification{
  display: none;
  position: absolute;
  background-color: #4650A8;
  border-color: rgba(70, 80, 168, 0);
  border-radius: 30px;
  height: 17vh;
  width: 30vh;
  top: 72%;
  right: 0;
  margin: 50px;
  padding: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding-left: 20px;
  padding-right: 20px;
}

.side-notification:hover{
  cursor: pointer;
}

#close-arrow {
  position: inherit;
  background: url("../assets/back-arrow.svg") center/30px no-repeat;
  rotate: 180deg;
  top: -30px;
  right: 20px;
  width: 30px;
  filter: none;
}

#close-arrow:hover {
  cursor: pointer;
  filter: none;
  width: 35px;
}

.friends-header{
  display: flex;
  gap: 30px;
  background-color: #4650A8;
  border-top-left-radius: 38px;
  border-top-right-radius: 38px;
  width: 100%;
  height: 60px;
  padding: 10px;
  text-align: center;
  justify-content: center;
  font-weight: bold;
  align-items: center;
  color: white;
  font-size: 38px;
  margin-top: -10px;
}

#add-friend{
  background: url("../assets/add-friend.svg") center/50px no-repeat;

  width: 50px;
  height: 50px;
  filter: none;
  cursor: pointer;
  transition:
    width 0.3s ease,
    height 0.3s ease;
}

#search{
  background: url("../assets/search.svg") center/50px no-repeat;
  width: 50px;
  height: 50px;
  filter: none;
  cursor: pointer;
  transition:
    width 0.3s ease,
    height 0.3s ease;
}

#small-user{
  background: url("../assets/user-circle.svg") center/50% no-repeat;
  width: 90px;
  height: 90px;
  filter: none;
}

.friend-container{
  display: flex;
  align-items: center;
  width: 300px;
  background-color: rgba(1,5,37,1);
  border-radius: 30px;
  padding: -10px;
  gap:10px;
  margin: 10px;
  cursor: pointer;
}

#friend-profile{
  display: none;
  position: absolute;
  align-items: center;
  padding: 10px;
  border-radius: 30px;
  background-color: rgba(1,5,37,1);
  cursor: pointer;
  width: 250px;
  height: 300px;
  left: 25%;
  padding-top: 50px;
}

.friend-footer{
  background-color: #4650A8;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 10px;
  padding-bottom: 15px;
  width: 100%;
  height: 50px;
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 38px;
}

#unfriend{
  background: url("../assets/unfriend.svg") center/50px no-repeat;
  width: 50px;
  height: 50px;
  filter: none;
  cursor: pointer;
  transition:
    width 0.3s ease,
    height 0.3s ease;
}

#chat {
  background: url("../assets/chat.svg") center/50px no-repeat;
  width: 50px;
  height: 50px;
  filter: none;
  cursor: pointer;
  transition:
    width 0.3s ease,
    height 0.3s ease;
}

#play {
  background: url("../assets/play.svg") center/50px no-repeat;
  width: 50px;
  height: 50px;
  filter: none;
  cursor: pointer;
  transition:
    width 0.3s ease,
    height 0.3s ease;
}

#friend-list {
  display: block;
}

#friend-chat{
  display: none;
}

#small-back-arrow{
  background: url("../assets/back-arrow.svg") center/50px no-repeat;
  width: 50px;
  height: 50px;
  filter: none;
  cursor: pointer;
  padding:10px;
  transition:
    width 0.3s ease,
    height 0.3s ease;
}

#message-list{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  overflow-y: auto;
  scrollbar-color: #EE4F3A rgba(1,5,37,1);
  height: 70vh;
}

.message-container{
  background-color: #4650A8;
  border-radius: 20px;
  padding: 10px;
  height: fit-content;
}

.message-content{
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}

.friend-text-container{
  display: flex;
  flex-direction: row;
  margin: 5px;
  margin-bottom: 10px;
}

.friend-text-container #small-user{
  margin-top: -40px;
}

.chat-footer{
  display: flex;
  gap: 10px;
  background-color: rgba(1,5,37,1);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 10px;
  width: 100%;
  height: 50px;
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 38px;
}

#message-input{
  width: 100%;
  height: 40px;
  border-radius: 25px;
  border: none;
  padding: 5px;
  font-size: 20px;
  background-color: #4650A8;
  box-shadow: none;
}

#send{
  background: url("../assets/send.svg") center/25px no-repeat;
  width: 60px;
  height: 50px;
  filter: none;
  background-color: #4650A8;
  border-radius: 100px;
  cursor: pointer;
  transition:
    width 0.3s ease,
    height 0.3s ease;
}

#send:hover{
  width: 90px;
  height: 50px;
}

